{% extends 'colasapp/layout.html' %} {% block body %}

<div class="w-screen h-screen bg-gray-200 flex items-center justify-center">
  <div class="grid grid-cols-2 gap-4">
      <a href="/pics">
        <div class="p-10 bg-gray-300 rounded shadow ">PICS</div>
      </a>
      <a href="/picm">
        <div class="p-10 bg-gray-300 rounded shadow ">PICM</div>
      </a>
      <a href="/pfcs">
        <div class="p-10 bg-gray-300 rounded shadow ">PFCS</div>
      </a>
      <a href="/pfcm">
        <div class="p-10 bg-gray-300 rounded shadow ">PFCM</div>
      </a>
    

  </div>
</div>

{% endblock %}
