<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>TEORIA DE COLAS</title>
    <script src="https://cdn.tailwindcss.com"></script>

  
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,800;1,900&display=swap" rel="stylesheet">


  </head>

  <body class="bg-gray-200" id="bodypage">


    {% block body %}

    
    {% endblock %}

   
  </body>
  
</html>